:root {
  --font-family-title: "grotesque";
  --font-family-body: "grotesque";
  --font-family-button: "grotesque";
  --primary: #009870;
  --primary-10: #00987010;
  --primary-15: #00987015;
  --primary-20: #00987020;
  --primary-30: #00987030;
  --primary-40: #00987040;
  --primary-50: #00987050;
  --primary-60: #00987060;
  --primary-70: #00987070;
  --primary-80: #00987080;
  --primary-90: #00987090;
  --secondary: #009870;
  --secondary-10: #00987010;
  --secondary-15: #00987015;
  --secondary-20: #00987020;
  --secondary-30: #00987030;
  --secondary-40: #00987040;
  --secondary-50: #00987050;
  --secondary-60: #00987060;
  --secondary-70: #00987070;
  --secondary-80: #00987080;
  --secondary-90: #00987090;
  --danger: #ff4365;
  --success: #2cda98;
  --info: #009870;

  --default-overview-background-color: #f7f3f5;

  --primary-button-background-color: #00a671;
  --primary-button-text-color: #fff;
  --primary-button-border-color: #00a671;
  --primary-button-background-color--active: #00a671ff;
  --primary-button-text-color--active: #fff;
  --primary-button-border-color--active: #00a671;
  --primary-button-background-color--hover: #ffffff;
  --primary-button-text-color--hover: #00a671;
  --primary-button-border-color--hover: #00a671;
  --primary-button-border-width: 1px;
  --primary-button-border-radius: 8px;
  --primary-button-box-shadow-color: #6770781a;

  --event-category-background-color: var(--primary);
  --course-category-background-color: var(--primary);

  /* --card-background-color: #fff;
  --card-text-color: #444;
  --card-second-text-color: #44444470;
  --card-border-radius: 5px;
  --card-box-shadow-color: #44444430;
  --card-divider-color: #44444420; */
  --card-compact-heading-color: #444444;
  --card-background-color: #fff;
  --card-text-color: #677078;
  --card-second-text-color: #677078;
  --card-box-shadow-color: #6770781a;
  --card-divider-color: #ffffff;
  --card-border-radius: 8px;

  --widget-background-color: #e6eefa;

  --scrollbar-background: #44444410;
  --scrollbar-thumb: var(--primary);
  --scrollbar-body-thumb: var(--secondary-50);
  --scrollbar-widget-thumb: var(--primary);

  --light-clr: #fff;
}

/* Font Awesome Css */
.fak {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome Kit";
}

.fa-live:before {
  content: "\e00b";
}
.fa-speakers:before {
  content: "\e000";
}
.fa-handshake-alt-light:before {
  content: "\e033";
}
.fa-hourglass:before {
  content: "\e0ee";
}
.fa-elearning-hat:before {
  content: "\e095";
}
.fa-check-circle-regular:before {
  content: "\e041";
}
.fa-description:before {
  content: "\e012";
}

@font-face {
  font-family: "Font Awesome Kit";
  font-style: normal;
  src: url(https://kit.fontawesome.com/5a850a28be/12734495/kit-upload.woff2)
    format("woff2");
}

.public-container .event-overview {
  position: relative;
  background-color: var(--default-overview-background-color);
  z-index: 2;
}

.public-container .course-overview {
  background-color: var(--primary);
}

/* Event Css */

.event-overview {
  background-color: var(--default-overview-background-color);
}
.event-overview .p-container {
  padding: 10px;
}
.event-overview--items {
  padding: 20px 0;
}
@media only screen and (max-width: 1500px) {
  .event-overview--items {
    padding: 20px 20px;
  }
}
.event-overview--items > .row {
  justify-content: center;
}

.p-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .p-container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1450px;
  }
}
@media (min-width: 1701px) {
  .p-container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1600px;
  }
}

.showMore a {
  text-decoration: none;
  color: var(--primary);
}

.event-item {
  margin-bottom: 30px;
}
.event-item--card {
  cursor: pointer;
}
.event-item--card .banner--content {
  position: relative;
  overflow: hidden;
  content: "";
  aspect-ratio: 16/9;
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://neuronews-expertshare-live.s3.eu-central-1.amazonaws.com/conference/20220927085009-berner-therapienetzwerk-parkinson-63329d21a64fc445271765.jpg");
}
.event-item--card .banner--content .liveRibbon {
  position: absolute;
  top: 0px;
  left: -40px;
  transform: rotate(-43deg);
}
.event-item--card .banner--content .liveRibbon .content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 28px;
  padding: 12px 6px 10px 6px;
  font-size: 14px;
  font-weight: 500;
  color: var(--light-clr);
  background-color: var(--danger);
  box-shadow: 0px 3px 9px #9ba7ba;
}
.event-item--card .banner--content .liveRibbon .content:hover {
  text-decoration: none;
}
.event-item--card .banner--content .liveRibbon .content span {
  display: -webkit-box;
  overflow: hidden;
  width: 50px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.event-item--card .banner--content .liveRibbon .content i {
  margin-right: 2px;
  margin-bottom: 2px;
  font-size: 18px;
}
.event-item--card .banner--content .dateBadge {
  position: absolute;
  top: 10px;
  right: 10px;
}
.event-item--card .banner--content .dateBadge .content {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 55px;
  background-color: var(--light-clr);
  border-radius: 3px;
  box-shadow: 0 3px 9px var(--card-box-shadow-color);
}
.event-item--card .banner--content .dateBadge .content .day {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  line-height: normal;
}
.event-item--card .banner--content .dateBadge .content .day span {
  padding-top: 7px;
  font-size: 2.3rem;
  font-weight: 900;
  color: var(--primary);
}
.event-item--card .banner--content .dateBadge .content .time {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  padding: 0 10px;
}
.event-item--card .banner--content .dateBadge .content .time .month {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: 120px;
  padding-top: 3px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary);
  line-height: normal;
  border-bottom: 2px solid var(--primary);
}
.event-item--card .banner--content .dateBadge .content .time .clock {
  padding-top: 2px;
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--primary);
}
.event-item--card .banner--content .dateBadge .content .time::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  opacity: 0.2;
}
.event-item--card .banner--content .dateBadge .content .year {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  background-color: var(--primary);
}
.event-item--card .banner--content .dateBadge .content .year span {
  font-size: 1rem;
  font-weight: 700;
  padding-right: 2px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  color: var(--light-clr);
}
.event-item--card .banner--content .sponsors {
  position: absolute;
  width: 100%;
  bottom: 28px;
  left: 20px;
}
.event-item--card .banner .category {
  position: absolute;
  top: 69px;
  left: -10px;
}
.event-item--card .banner .category .content {
  display: flex;
  align-items: center;
  margin-right: 10px;
  height: 28px;
  padding: 0 10px;
  background-color: var(--event-category-background-color);
  border-radius: 3px;
}
.event-item--card .banner .category .content span {
  display: -webkit-box;
  min-width: fit-content;
  max-width: inherit;
  overflow: hidden;
  padding-top: 2px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--light-clr);
  word-break: break-all;
}
.event-item--card .banner .category .content:after {
  content: "\e04a";
  font-family: "Font Awesome Kit";
  transform: rotate(180deg);
  font-size: 11px;
  position: absolute;
  left: 0.8px;
  top: -7.5px;
  color: var(--event-category-background-color);
}
.event-item--card .context {
  z-index: 0;
  margin-top: -20px;
  margin-left: 20px;
  margin-right: 20px;
}
.event-item--card .context--inner {
  padding: 15px;
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
}
.event-item--card .context--inner .header {
  display: flex;
  height: 45px;
}
.event-item--card .context--inner .header .title h3 {
  display: -webkit-box;
  width: fit-content;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--card-text-color);
  margin-bottom: 0;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  cursor: pointer;
}
.event-item--card .context--inner .header .actions {
  padding-left: 5px;
}
.event-item--card .context--inner .header .actions .shareBtn {
  width: 25px;
  height: 25px;
  padding: 0 !important;
}
.event-item--card .context--inner .header .actions .shareBtn i {
  font-weight: 500;
}
.event-item--card .context--inner .desc {
  height: 105px;
}
.event-item--card .context--inner .desc .text {
  display: -webkit-box;
  width: fit-content;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: var(--card-text-color);
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
.event-item--card .context--inner .actions {
  display: flex;
  height: 40px;
}
.event-item--card .context--inner .actions .showMore a {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: normal;
  color: var(--primary);
  text-decoration: none;
}
.event-item--card .context--inner .actions .registerBtn {
  margin-right: -5px;
  margin-left: auto;
  padding-left: 8px;
}
.event-item--card .context--inner .actions .registerBtn .btn {
  height: 34px;
  padding: 0 35px !important;
  font-size: 0.8rem !important;
}
.event-item--card .additional-info--inner {
  padding: 15px;
}
.event-item--card .additional-info--inner .users .users-list {
  margin-bottom: 10px;
}
.event-item--card .additional-info--inner .presenters--inner .title h4 {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.event-item--card .additional-info--inner .presenters--inner .title h4 i {
  padding-bottom: 3px;
  padding-right: 5px;
  font-size: 1.1rem;
}
.event-item--card .additional-info--inner .presenters--inner .title h4 span {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-word;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--card-text-color);
}
.event-item--card
  .additional-info--inner
  .presenters--inner
  .content
  .presenterItem
  .picture
  img {
  width: 90px;
  aspect-ratio: 16/9;
  background-color: var(--light-clr);
  border-radius: var(--card-border-radius);
}
@media only screen and (max-width: 1200px) {
  .event-item--card
    .additional-info--inner
    .presenters--inner
    .content
    .presenterItem
    .picture
    img {
    width: 60px;
    height: 40px;
  }
}
.event-item--card
  .additional-info--inner
  .presenters--inner
  .content
  .presenterItem
  .details
  .name
  h5 {
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--card-text-color);
}
.event-item--card
  .additional-info--inner
  .presenters--inner
  .content
  .presenterItem
  .details
  .desc
  p {
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--card-text-color);
}
.event-item--card
  .additional-info--inner
  .presenters--inner
  .content
  .presenterItem
  .details
  .desc
  .showMore
  a {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: normal;
  color: var(--primary);
  text-decoration: none;
}
.event-item--card .registerBtnEnd {
  width: 100%;
  height: 45px;
  border: none !important;
  border-radius: 0 0 var(--card-border-radius) var(--card-border-radius) !important;
  font-size: 0.9rem !important;
}
.event-item--card .registerBtnEnd:hover {
  border: none !important;
}
.event-item--card::before {
  pointer-events: none;
}
.event-item.hoverView .additional-info {
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  background-color: var(--widget-background-color);
  z-index: 1;
  box-shadow: 0 3px 9px var(--card-box-shadow-color);
  visibility: hidden;
  opacity: 0;
  transition: display 0s, opacity 0.1s linear;
  overflow: auto;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-background);
  scrollbar-width: auto;
}
.event-item.hoverView .additional-info::-webkit-scrollbar {
  width: 5px;
}
.event-item.hoverView .additional-info::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}
.event-item.hoverView .additional-info::-webkit-scrollbar-thumb {
  background: var(--scrollbar-widget-thumb);
}
.event-item.hoverView .additional-info::-webkit-scrollbar-thumb:hover {
  opacity: 100%;
}
.event-item.hoverView:hover .event-item--card {
  border-radius: 0 !important;
}
.event-item.hoverView:hover .event-item--card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-color: var(--primary) !important;
  border-bottom: 3px;
  border-top: 3px;
  border-right: 0;
  border-left: 3px;
  border-style: solid !important;
}
.event-item.hoverView:hover .event-item--card .banner--content {
  border-radius: 0;
}
.event-item.hoverView:hover .event-item--card .banner .category {
  z-index: 2;
}
.event-item.hoverView:hover .event-item--card .additional-info {
  visibility: visible;
  opacity: 1;
  height: 100%;
  width: 90%;
  transition: width 0.2s ease-in;
  border-color: var(--primary) !important;
  border-bottom: 3px;
  border-top: 3px;
  border-left: 0;
  border-right: 3px;
  border-style: solid !important;
}
@media (max-width: 992px) {
  .event-item.hoverView .event-item--card:before {
    border-bottom: 0 !important;
    border-right: 3px !important;
    border-left: 3px !important;
    border-style: solid !important;
  }
  .event-item.hoverView .event-item--card .banner--content {
    border-radius: 0;
  }
  .event-item.hoverView .event-item--card .additional-info {
    left: auto;
    right: auto;
    top: 100%;
    width: 100% !important;
    height: 90% !important;
    border-bottom: 3px !important;
    border-top: 0 !important;
    border-left: 3px !important;
    border-right: 3px !important;
  }
}
@media (min-width: 992px) and (max-width: 1498px) {
  .event-item.hoverView:nth-child(2) .event-item--card:hover,
  .event-item.hoverView:nth-child(3) .event-item--card:hover,
  .event-item.hoverView:nth-child(5) .event-item--card:hover,
  .event-item.hoverView:nth-child(6) .event-item--card:hover,
  .event-item.hoverView:nth-child(8) .event-item--card:hover {
    border-radius: 0 !important;
  }
  .event-item.hoverView:nth-child(2) .event-item--card:hover:before,
  .event-item.hoverView:nth-child(3) .event-item--card:hover:before,
  .event-item.hoverView:nth-child(5) .event-item--card:hover:before,
  .event-item.hoverView:nth-child(6) .event-item--card:hover:before,
  .event-item.hoverView:nth-child(8) .event-item--card:hover:before {
    border-bottom: 3px;
    border-right: 3px;
    border-left: 0;
    border-style: solid !important;
  }
  .event-item.hoverView:nth-child(2) .event-item--card:hover .banner--content,
  .event-item.hoverView:nth-child(3) .event-item--card:hover .banner--content,
  .event-item.hoverView:nth-child(5) .event-item--card:hover .banner--content,
  .event-item.hoverView:nth-child(6) .event-item--card:hover .banner--content,
  .event-item.hoverView:nth-child(8) .event-item--card:hover .banner--content {
    border-radius: 0;
  }
  .event-item.hoverView:nth-child(2) .event-item--card:hover .banner .category,
  .event-item.hoverView:nth-child(3) .event-item--card:hover .banner .category,
  .event-item.hoverView:nth-child(5) .event-item--card:hover .banner .category,
  .event-item.hoverView:nth-child(6) .event-item--card:hover .banner .category,
  .event-item.hoverView:nth-child(8) .event-item--card:hover .banner .category {
    z-index: 2;
  }
  .event-item.hoverView:nth-child(2) .event-item--card:hover .additional-info,
  .event-item.hoverView:nth-child(3) .event-item--card:hover .additional-info,
  .event-item.hoverView:nth-child(5) .event-item--card:hover .additional-info,
  .event-item.hoverView:nth-child(6) .event-item--card:hover .additional-info,
  .event-item.hoverView:nth-child(8) .event-item--card:hover .additional-info {
    left: auto !important;
    right: 100%;
    border-color: var(--primary) !important;
    border-bottom: 3px;
    border-top: 3px;
    border-left: 3px;
    border-right: 0;
  }
  .event-item.hoverView:nth-child(2) .event-item--card .additional-info,
  .event-item.hoverView:nth-child(3) .event-item--card .additional-info,
  .event-item.hoverView:nth-child(5) .event-item--card .additional-info,
  .event-item.hoverView:nth-child(6) .event-item--card .additional-info,
  .event-item.hoverView:nth-child(8) .event-item--card .additional-info {
    left: auto !important;
    right: 100%;
  }
}
@media (min-width: 1499px) {
  .event-item.hoverView:nth-child(3) .event-item--card:hover,
  .event-item.hoverView:nth-child(4) .event-item--card:hover,
  .event-item.hoverView:nth-child(7) .event-item--card:hover,
  .event-item.hoverView:nth-child(8) .event-item--card:hover {
    border-radius: 0 !important;
  }
  .event-item.hoverView:nth-child(3) .event-item--card:hover:before,
  .event-item.hoverView:nth-child(4) .event-item--card:hover:before,
  .event-item.hoverView:nth-child(7) .event-item--card:hover:before,
  .event-item.hoverView:nth-child(8) .event-item--card:hover:before {
    border-bottom: 3px;
    border-right: 3px;
    border-left: 0;
  }
  .event-item.hoverView:nth-child(3) .event-item--card:hover .banner--content,
  .event-item.hoverView:nth-child(4) .event-item--card:hover .banner--content,
  .event-item.hoverView:nth-child(7) .event-item--card:hover .banner--content,
  .event-item.hoverView:nth-child(8) .event-item--card:hover .banner--content {
    border-radius: 0;
  }
  .event-item.hoverView:nth-child(3) .event-item--card:hover .banner .category,
  .event-item.hoverView:nth-child(4) .event-item--card:hover .banner .category,
  .event-item.hoverView:nth-child(7) .event-item--card:hover .banner .category,
  .event-item.hoverView:nth-child(8) .event-item--card:hover .banner .category {
    z-index: 2;
  }
  .event-item.hoverView:nth-child(3) .event-item--card:hover .additional-info,
  .event-item.hoverView:nth-child(4) .event-item--card:hover .additional-info,
  .event-item.hoverView:nth-child(7) .event-item--card:hover .additional-info,
  .event-item.hoverView:nth-child(8) .event-item--card:hover .additional-info {
    left: auto !important;
    right: 100%;
    border-color: var(--primary) !important;
    border-bottom: 3px;
    border-top: 3px;
    border-left: 3px;
    border-right: 0;
    border-style: solid !important;
  }
  .event-item.hoverView:nth-child(3) .event-item--card .additional-info,
  .event-item.hoverView:nth-child(4) .event-item--card .additional-info,
  .event-item.hoverView:nth-child(7) .event-item--card .additional-info,
  .event-item.hoverView:nth-child(8) .event-item--card .additional-info {
    left: auto !important;
    right: 100%;
  }
}
.event-item.listView .event-item--card .context {
  margin-top: -15px;
  margin-left: 10px;
  margin-right: 10px;
}
.event-item.listView .event-item--card .context--inner {
  height: 160px;
}
.event-item.listView .event-item--card .context--inner .desc {
  height: 70px;
}
.event-item.listView .event-item--card .context--inner .desc .text {
  -webkit-line-clamp: 3;
}
.event-item.listView .event-item--card .context--inner .actions {
  height: auto;
}
.event-item.listView .event-item--card .additional-info {
  height: 340px;
}
.event-item.listView
  .event-item--card
  .additional-info
  .users
  .user-item--inner {
  min-height: 45px;
}
@media (min-width: 576px) and (max-width: 687px) {
  .event-item {
    max-width: 100% !important;
    flex: 100% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .event-item {
    max-width: 33.33% !important;
    flex: 33.33% !important;
  }
}

/* User List Css */

.users-list--inner .title h4 {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.users-list--inner .title h4 i {
  padding-bottom: 3px;
  padding-right: 5px;
  font-size: 1.1rem;
}
.users-list--inner .title h4 span {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-word;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--card-text-color);
}
.users-list--inner .showMore {
  padding-left: 55px;
}
.users-list--inner .showMore a {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: normal;
  color: var(--primary);
  text-decoration: none;
}

.user-item--inner {
  display: flex;
  align-items: center;
  min-height: 55px;
}
.user-item--inner a {
  display: flex;
  width: 100%;
  margin: auto 0;
}
.user-item--inner a .profile {
  display: flex;
  align-items: center;
  padding-right: 7px;
}
.user-item--inner a .profile i {
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.user-item--inner a .details {
  display: grid;
  width: 100%;
  margin: auto 0;
}
.user-item--inner a .details h4 {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--card-text-color);
}
.user-item--inner a .details h4 p {
  display: -webkit-box;
  margin-bottom: 0;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.user-item--inner a .details .job-company {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--card-second-text-color);
  line-height: normal;
}

/* Button Css */

.btn {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 36px;
  font-family: var(--font-family-button);
  padding: 0 20px !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.btn.btn-primary {
  color: var(--primary-button-text-color) !important;
  background-color: var(--primary-button-background-color) !important;
  border: var(--primary-button-border-width) solid
    var(--primary-button-border-color) !important;
  border-radius: var(--primary-button-border-radius) !important;
  box-shadow: 0 3px 9px var(--primary-button-box-shadow-color) !important;
}
.btn.btn-primary:hover {
  color: var(--primary-button-text-color--hover) !important;
  background-color: var(--primary-button-background-color--hover) !important;
  border: var(--primary-button-border-width) solid
    var(--primary-button-border-color--hover) !important;
}
.btn.btn-primary.active {
  color: var(--primary-button-text-color--active) !important;
  background-color: var(--primary-button-background-color--active) !important;
  border: var(--primary-button-border-width) solid
    var(--primary-button-border-color--active) !important;
}

/* Course Css */

.course-overview {
  background-color: var(--default-overview-background-color);
}
.course-overview .p-container {
  padding: 10px;
}
.course-overview--items {
  padding: 20px 0;
}
@media only screen and (max-width: 1500px) {
  .course-overview--items {
    padding: 20px 20px;
  }
}
.course-overview--items > .row {
  justify-content: center;
}

.course-item {
  margin-bottom: 30px;
}
.course-item--card {
  cursor: pointer;
}
.course-item--card .banner--content {
  position: relative;
  overflow: hidden;
  content: "";
  aspect-ratio: 16/9;
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.course-item--card .banner--content .new-ribbon {
  position: absolute;
  top: 0px;
  left: -40px;
  transform: rotate(-43deg);
}
.course-item--card .banner--content .new-ribbon .content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 28px;
  padding: 12px 6px 10px 6px;
  font-size: 14px;
  font-weight: 500;
  color: var(--light-clr);
  background-color: var(--danger);
  box-shadow: 0px 3px 9px #9ba7ba;
}
.course-item--card .banner--content .new-ribbon .content:hover {
  text-decoration: none;
}
.course-item--card .banner--content .new-ribbon .content span {
  display: -webkit-box;
  overflow: hidden;
  width: 50px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.course-item--card .banner--content .new-ribbon .content i {
  margin-right: 2px;
  margin-bottom: 2px;
  font-size: 18px;
}
.course-item--card .banner--content .dateBadge {
  position: absolute;
  top: 10px;
  right: 10px;
}
.course-item--card .banner--content .dateBadge .content {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 55px;
  background-color: var(--light-clr);
  border-radius: 3px;
  box-shadow: 0 3px 9px var(--card-box-shadow-color);
}
.course-item--card .banner--content .dateBadge .content .day {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  line-height: normal;
}
.course-item--card .banner--content .dateBadge .content .day span {
  padding-top: 7px;
  font-size: 2.3rem;
  font-weight: 900;
  color: var(--primary);
}
.course-item--card .banner--content .dateBadge .content .time {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  padding: 0 10px;
}
.course-item--card .banner--content .dateBadge .content .time .month {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: 120px;
  padding-top: 3px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary);
  line-height: normal;
  border-bottom: 2px solid var(--primary);
}
.course-item--card .banner--content .dateBadge .content .time .clock {
  padding-top: 2px;
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--primary);
}
.course-item--card .banner--content .dateBadge .content .time::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  opacity: 0.2;
}
.course-item--card .banner--content .dateBadge .content .year {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  background-color: var(--primary);
}
.course-item--card .banner--content .dateBadge .content .year span {
  font-size: 1rem;
  font-weight: 700;
  padding-right: 2px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  color: var(--light-clr);
}
.course-item--card .banner .category {
  position: absolute;
  top: 69px;
  left: -10.5px;
}
.course-item--card .banner .category .content {
  display: flex;
  align-items: center;
  margin-right: 10px;
  height: 28px;
  padding: 0 10px;
  background-color: var(--course-category-background-color);
  border-radius: 3px;
}
.course-item--card .banner .category .content span {
  display: -webkit-box;
  min-width: fit-content;
  max-width: inherit;
  overflow: hidden;
  padding-top: 2px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--light-clr);
  word-break: break-all;
}
.course-item--card .banner .category .content:after {
  content: "\e04a";
  font-family: "Font Awesome Kit";
  transform: rotate(180deg);
  font-size: 11.5px;
  position: absolute;
  left: 0.5px;
  top: -7.5px;
  color: var(--course-category-background-color);
}
.course-item--card .context {
  z-index: 0;
  margin-top: -20px;
  margin-left: 20px;
  margin-right: 20px;
}
.course-item--card .context--inner {
  padding: 15px;
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
}
.course-item--card .context--inner .header {
  display: flex;
  height: 45px;
}
.course-item--card .context--inner .header .title h3 {
  display: -webkit-box;
  width: fit-content;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--card-text-color);
  margin-bottom: 0;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  cursor: pointer;
}
.course-item--card .context--inner .header .actions {
  padding-left: 5px;
}
.course-item--card .context--inner .header .actions .shareBtn {
  width: 25px;
  height: 25px;
  padding: 0 !important;
}
.course-item--card .context--inner .header .actions .shareBtn i {
  font-weight: 500;
}
.course-item--card .context--inner .desc {
  height: 85px;
}
.course-item--card .context--inner .desc .text {
  display: -webkit-box;
  width: fit-content;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: var(--card-text-color);
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.course-item--card .context--inner .desc .showMore a {
  font-size: 0.7rem;
  font-weight: 900;
  line-height: normal;
  color: var(--primary);
  text-decoration: none;
}
.course-item--card .context--inner .info {
  height: 50px;
}
.course-item--card .context--inner .info > .row .info--item .content--icon {
  padding-right: 8px;
}
.course-item--card .context--inner .info > .row .info--item .content--icon i {
  font-size: 1.3rem;
  font-weight: 500;
}
.course-item--card .context--inner .info > .row .info--item .content--desc {
  display: inline-grid;
  padding-top: 3px;
}
.course-item--card
  .context--inner
  .info
  > .row
  .info--item
  .content--desc
  span {
  line-height: normal;
}
.course-item--card
  .context--inner
  .info
  > .row
  .info--item
  .content--desc
  .count {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--card-text-color);
}
.course-item--card
  .context--inner
  .info
  > .row
  .info--item
  .content--desc
  .field {
  font-size: 0.7rem;
  font-weight: 900;
  color: var(--card-second-text-color);
}
.course-item--card .context--inner .actions {
  display: flex;
  height: 40px;
}
.course-item--card .context--inner .actions .registerBtn {
  margin-right: -5px;
  margin-left: auto;
  padding-left: 8px;
}
.course-item--card .context--inner .actions .registerBtn .btn {
  height: 34px;
  padding: 0 35px !important;
  font-size: 0.8rem !important;
}
.course-item--card .additional-info--inner {
  padding: 15px;
}
.course-item--card .additional-info--inner .users .users-list {
  margin-bottom: 10px;
}
.course-item--card .additional-info--inner .presenters--inner .title h4 {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.course-item--card .additional-info--inner .presenters--inner .title h4 i {
  padding-bottom: 3px;
  padding-right: 5px;
  font-size: 1.1rem;
}
.course-item--card .additional-info--inner .presenters--inner .title h4 span {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--card-text-color);
}
.course-item--card
  .additional-info--inner
  .presenters--inner
  .content
  .presenterItem
  .picture
  img {
  width: 90px;
  height: 60px;
  aspect-ratio: 16/9;
  background-color: var(--light-clr);
  border-radius: var(--card-border-radius);
}
@media only screen and (max-width: 1200px) {
  .course-item--card
    .additional-info--inner
    .presenters--inner
    .content
    .presenterItem
    .picture
    img {
    width: 60px;
    height: 40px;
  }
}
.course-item--card
  .additional-info--inner
  .presenters--inner
  .content
  .presenterItem
  .details
  .name
  h5 {
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 3px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-word;
  font-size: 1rem;
  font-weight: 700;
  color: var(--card-text-color);
}
.course-item--card
  .additional-info--inner
  .presenters--inner
  .content
  .presenterItem
  .details
  .desc
  p {
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--card-text-color);
}
.course-item--card
  .additional-info--inner
  .presenters--inner
  .content
  .presenterItem
  .details
  .desc
  .showMore
  a {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: normal;
  color: var(--primary);
  text-decoration: none;
}
.course-item--card .registerBtnEnd {
  width: 100%;
  height: 45px;
  border: none !important;
  border-radius: 0 0 var(--card-border-radius) var(--card-border-radius) !important;
  font-size: 0.9rem !important;
}
.course-item--card .registerBtnEnd:hover {
  border: none !important;
}
.course-item--card::before {
  pointer-events: none;
}
.course-item.hoverView .additional-info {
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  background-color: var(--widget-background-color);
  z-index: 1;
  box-shadow: 0 3px 9px var(--card-box-shadow-color);
  visibility: hidden;
  opacity: 0;
  transition: display 0s, opacity 0.1s linear;
  overflow: auto;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-background);
  scrollbar-width: auto;
}
.course-item.hoverView .additional-info::-webkit-scrollbar {
  width: 5px;
}
.course-item.hoverView .additional-info::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}
.course-item.hoverView .additional-info::-webkit-scrollbar-thumb {
  background: var(--scrollbar-widget-thumb);
}
.course-item.hoverView .additional-info::-webkit-scrollbar-thumb:hover {
  opacity: 100%;
}
.course-item.hoverView:hover .course-item--card {
  border-radius: 0 !important;
}
.course-item.hoverView:hover .course-item--card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-color: var(--primary) !important;
  border-bottom: 3px;
  border-top: 3px;
  border-right: 0;
  border-left: 3px;
  border-style: solid !important;
}
.course-item.hoverView:hover .course-item--card .banner--content {
  border-radius: 0;
}
.course-item.hoverView:hover .course-item--card .banner .category {
  z-index: 2;
}
.course-item.hoverView:hover .course-item--card .additional-info {
  visibility: visible;
  opacity: 1;
  height: 100%;
  width: 90%;
  transition: width 0.2s ease-in;
  border-color: var(--primary) !important;
  border-bottom: 3px;
  border-top: 3px;
  border-left: 0;
  border-right: 3px;
  border-style: solid !important;
}
@media (max-width: 992px) {
  .course-item.hoverView .course-item--card:before {
    border-bottom: 0 !important;
    border-right: 3px !important;
    border-left: 3px !important;
    border-style: solid !important;
  }
  .course-item.hoverView .course-item--card .banner--content {
    border-radius: 0;
  }
  .course-item.hoverView .course-item--card .additional-info {
    left: auto;
    right: auto;
    top: 100%;
    width: 100% !important;
    height: 90% !important;
    border-bottom: 3px !important;
    border-top: 0 !important;
    border-left: 3px !important;
    border-right: 3px !important;
  }
}
@media (min-width: 992px) and (max-width: 1498px) {
  .course-item.hoverView:nth-child(2) .course-item--card:hover,
  .course-item.hoverView:nth-child(3) .course-item--card:hover,
  .course-item.hoverView:nth-child(5) .course-item--card:hover,
  .course-item.hoverView:nth-child(6) .course-item--card:hover,
  .course-item.hoverView:nth-child(8) .course-item--card:hover {
    border-radius: 0 !important;
  }
  .course-item.hoverView:nth-child(2) .course-item--card:hover:before,
  .course-item.hoverView:nth-child(3) .course-item--card:hover:before,
  .course-item.hoverView:nth-child(5) .course-item--card:hover:before,
  .course-item.hoverView:nth-child(6) .course-item--card:hover:before,
  .course-item.hoverView:nth-child(8) .course-item--card:hover:before {
    border-bottom: 3px;
    border-right: 3px;
    border-left: 0;
    border-style: solid !important;
  }
  .course-item.hoverView:nth-child(2) .course-item--card:hover .banner--content,
  .course-item.hoverView:nth-child(3) .course-item--card:hover .banner--content,
  .course-item.hoverView:nth-child(5) .course-item--card:hover .banner--content,
  .course-item.hoverView:nth-child(6) .course-item--card:hover .banner--content,
  .course-item.hoverView:nth-child(8)
    .course-item--card:hover
    .banner--content {
    border-radius: 0;
  }
  .course-item.hoverView:nth-child(2)
    .course-item--card:hover
    .banner
    .category,
  .course-item.hoverView:nth-child(3)
    .course-item--card:hover
    .banner
    .category,
  .course-item.hoverView:nth-child(5)
    .course-item--card:hover
    .banner
    .category,
  .course-item.hoverView:nth-child(6)
    .course-item--card:hover
    .banner
    .category,
  .course-item.hoverView:nth-child(8)
    .course-item--card:hover
    .banner
    .category {
    z-index: 2;
  }
  .course-item.hoverView:nth-child(2) .course-item--card:hover .additional-info,
  .course-item.hoverView:nth-child(3) .course-item--card:hover .additional-info,
  .course-item.hoverView:nth-child(5) .course-item--card:hover .additional-info,
  .course-item.hoverView:nth-child(6) .course-item--card:hover .additional-info,
  .course-item.hoverView:nth-child(8)
    .course-item--card:hover
    .additional-info {
    left: auto !important;
    right: 100%;
    border-color: var(--primary) !important;
    border-bottom: 3px;
    border-top: 3px;
    border-left: 3px;
    border-right: 0;
  }
  .course-item.hoverView:nth-child(2) .course-item--card .additional-info,
  .course-item.hoverView:nth-child(3) .course-item--card .additional-info,
  .course-item.hoverView:nth-child(5) .course-item--card .additional-info,
  .course-item.hoverView:nth-child(6) .course-item--card .additional-info,
  .course-item.hoverView:nth-child(8) .course-item--card .additional-info {
    left: auto !important;
    right: 100%;
  }
}
@media (min-width: 1499px) {
  .course-item.hoverView:nth-child(3) .course-item--card:hover,
  .course-item.hoverView:nth-child(4) .course-item--card:hover,
  .course-item.hoverView:nth-child(7) .course-item--card:hover,
  .course-item.hoverView:nth-child(8) .course-item--card:hover {
    border-radius: 0 !important;
  }
  .course-item.hoverView:nth-child(3) .course-item--card:hover:before,
  .course-item.hoverView:nth-child(4) .course-item--card:hover:before,
  .course-item.hoverView:nth-child(7) .course-item--card:hover:before,
  .course-item.hoverView:nth-child(8) .course-item--card:hover:before {
    border-bottom: 3px;
    border-right: 3px;
    border-left: 0;
  }
  .course-item.hoverView:nth-child(3) .course-item--card:hover .banner--content,
  .course-item.hoverView:nth-child(4) .course-item--card:hover .banner--content,
  .course-item.hoverView:nth-child(7) .course-item--card:hover .banner--content,
  .course-item.hoverView:nth-child(8)
    .course-item--card:hover
    .banner--content {
    border-radius: 0;
  }
  .course-item.hoverView:nth-child(3)
    .course-item--card:hover
    .banner
    .category,
  .course-item.hoverView:nth-child(4)
    .course-item--card:hover
    .banner
    .category,
  .course-item.hoverView:nth-child(7)
    .course-item--card:hover
    .banner
    .category,
  .course-item.hoverView:nth-child(8)
    .course-item--card:hover
    .banner
    .category {
    z-index: 2;
  }
  .course-item.hoverView:nth-child(3) .course-item--card:hover .additional-info,
  .course-item.hoverView:nth-child(4) .course-item--card:hover .additional-info,
  .course-item.hoverView:nth-child(7) .course-item--card:hover .additional-info,
  .course-item.hoverView:nth-child(8)
    .course-item--card:hover
    .additional-info {
    left: auto !important;
    right: 100%;
    border-color: var(--primary) !important;
    border-bottom: 3px;
    border-top: 3px;
    border-left: 3px;
    border-right: 0;
    border-style: solid !important;
  }
  .course-item.hoverView:nth-child(3) .course-item--card .additional-info,
  .course-item.hoverView:nth-child(4) .course-item--card .additional-info,
  .course-item.hoverView:nth-child(7) .course-item--card .additional-info,
  .course-item.hoverView:nth-child(8) .course-item--card .additional-info {
    left: auto !important;
    right: 100%;
  }
}
.course-item.listView .course-item--card .context {
  margin-top: -15px;
  margin-left: 10px;
  margin-right: 10px;
}
.course-item.listView .course-item--card .context--inner {
  height: 260px;
  padding-bottom: 0;
}
.course-item.listView .course-item--card .context--inner .info {
  height: 90px;
  padding-top: 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-background);
  scrollbar-width: auto;
}
.course-item.listView .course-item--card .context--inner .info > .row {
  margin-left: auto !important;
  margin-right: auto !important;
}
.course-item.listView
  .course-item--card
  .context--inner
  .info
  > .row
  .info--item {
  padding-left: 0px !important;
}
.course-item.listView
  .course-item--card
  .context--inner
  .info
  > .row
  .info--item.tasls {
  padding-bottom: 0 !important;
}
.course-item.listView
  .course-item--card
  .context--inner
  .info::-webkit-scrollbar {
  width: 3px;
}
.course-item.listView
  .course-item--card
  .context--inner
  .info::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}
.course-item.listView
  .course-item--card
  .context--inner
  .info::-webkit-scrollbar-thumb {
  background: var(--scrollbar-widget-thumb);
}
.course-item.listView
  .course-item--card
  .context--inner
  .info::-webkit-scrollbar-thumb:hover {
  opacity: 100%;
}
.course-item.listView .course-item--card .context--inner .desc {
  height: 90px;
}
.course-item.listView .course-item--card .context--inner .desc .text {
  -webkit-line-clamp: 3;
}
.course-item.listView .course-item--card .context--inner .actions {
  height: auto;
}
.course-item.listView .course-item--card .additional-info {
  height: 340px;
}
.course-item.listView
  .course-item--card
  .additional-info
  .users
  .user-item--inner {
  min-height: 45px;
}
@media (min-width: 576px) and (max-width: 687px) {
  .course-item {
    max-width: 100% !important;
    flex: 100% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .course-item {
    max-width: 33.33% !important;
    flex: 33.33% !important;
  }
}

/* Modal Css */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Modal Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  float: right !important;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
